.wordTile {
    display:inline-block;
    margin: 10px 10px;
    padding: 2px 20px;
    background-color: rgb(193, 247, 193);
    cursor: pointer;
  }
  
  .wordTile__name {
    font-size: small;
    color: black;
    text-align: left;
  }